body {
    background-color: cadetblue;
}

.ex1 {
    width: 400px;
    height: 300px;
    background-color: bisque;
}

.div1 {
    width: 680px;
    background-color: burlywood;
}

.ex2 {
    max-width: 680px;
    background-color: aqua;
}