body{
    background-color: #f1f1f1;
}

.ex1{
    display: flex;
    background-color: coral;
    gap: 10px;
}

.ex1 div{
    background-color: rgb(101, 62, 10);
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    text-align:  center;
    font-size: 30px;
}

.ex2{
    display: flex;
    flex-direction: column;
    background-color: rgb(194, 149, 81);
    gap: 10px;
}

.ex2 div {
    background-color: rgb(120, 192, 192);
    color: rgb(0, 30, 30);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px; 
}

.ex3{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(199, 164, 111);
    gap: 10px;
}

.ex3 div {
    background-color: burlywood;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px; 
}

.ex4{
    display: flex;
    flex-direction: row-reverse;
    background-color: rgb(199, 164, 111);
    gap: 10px;
}

.ex4 div {
    background-color: burlywood;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px; 
}

.ex5{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(69, 44, 5);
    gap: 10px;
}

.ex5 div {
    background-color: burlywood;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px; 
}


.ex6{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(69, 44, 5);
    gap: 10px;
}

.ex6 div {
    background-color: burlywood;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px; 
}

.ex7{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    background-color: rgb(69, 44, 5);
    gap: 10px;
}

.ex7 div {
    background-color: burlywood;
    color: rgb(0, 0, 0);
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 30px; 
}


